@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body {
  font-family: 'Electrolize', sans-serif;
  margin: 0;
}

.products::-webkit-scrollbar{
  display: none;
}

.ant-btn-primary{
  background-color: #1677ff;
}

.menu-link .active{
  @apply text-[#40a9ff]
}

.menu-link .anticon{
  display: flex;
  justify-content: center;
}

@media (min-width: 768px){
  body{
    overflow: hidden;
  }

  .cart-items::-webkit-scrollbar,
  .categories::-webkit-scrollbar{
    display: none;
  }
}